<div class="container p-4">
    <div class="page-header border-bottom border-gray">
        <h1>Soluciones</h1>
    </div>
    <a href="/soluciones/add" class="btn btn-outline-dark btn-lg my-4" role="button">Nueva</a>
    <div class="row">
        {{#each soluciones}}
            <div class="col-md-3 mb">
                <div class="card text-center">
                    <img src="{{fotos}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{titulo}}</h5>
                        <p class="card-text">{{descripcion}}</p>
                        <a href="#" onclick="confirmOpt('/soluciones/delete/{{id}}')" class="btn btn-danger">Eliminar</a>
                        <a href="/soluciones/edit/{{id}}" class="btn btn-dark">Editar</a>
                    </div>
                </div>
            </div>
        {{else}}
            <div class="col-md-4 mx-auto">
                <div class="card- card-body text-center">
                    <p>No hay soluciones creadas aun</p>
                    <a href="/soluciones/add">Crear Una</a>
                </div>
            </div>
        {{/each}}
    </div>
</div>