<div class="container p-4">
    <div class="page-header border-bottom border-gray">
        <h1>Productos</h1>
    </div>
    <a href="/productos/add" class="btn btn-outline-dark btn-lg my-4" role="button">Nuevo</a>
    <div class="row">
        {{#each productos}}
            <div class="col-md-3 mb">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{nombre}}</h5>
                        <p class="card-text">Modelo: {{modelo}}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{categoria}}</li>
                        <li class="list-group-item">{{marca}}</li>
                    </ul>
                    <div class="card-body">
                        <a href="#" onclick="confirmOpt('/productos/delete/{{id}}')" class="btn btn-danger">Eliminar</a>
                        <a href="/productos/edit/{{id}}" class="btn btn-dark">Editar</a>
                    </div>
                </div>
            </div>
        {{else}}
            <div class="col-md-4 mx-auto">
                <div class="card- card-body text-center">
                    <p>No hay Categorias creadas aun</p>
                    <a href="/productos/add">Crear Una</a>
                </div>
            </div>
        {{/each}}
    </div>
</div>